.box {
	display: inline-block;
	width: 50px;
	height: 50px;
}

.gift_box {
	width: 50px;
}

.mbox {
	display: inline-block;
	width: 66px;
	height: 66px;
}

.memory_box {
	width: 66px;
}

.empty-gift {
	border-bottom: 1px solid #000000;
}

.hidden-memory {
	padding: 66px 66px 0px 0px;
	background: url('images/unknown.png');
	background-size:auto; 
	width:0px; 
	height: 0px !important;
}

.empty-memory {
	padding: 66px 66px 0px 0px;
	background: url('images/empty.png');
	background-size:auto; 
	width:0px; 
	height: 0px !important;
}

.color-grey {
	background-color: rgb(222, 223, 225);
}

.color-blue {
	background-color: rgb(1, 84, 162);
}

.color-turquoise {
	background-color: rgb(78, 169, 187);
}

.color-orange {
	background-color: rgb(230, 174, 35);
}

.color-lime {
	background-color: rgb(118, 192, 67);
}

.color-pink {
	background-color: rgb(234, 20, 141);
}

.color-purple {
	background-color: rgb(173, 108, 174);
}

.color-yellow {
	background-color: rgb(254, 237, 46);
}

.color-red {
	background-color: rgb(235, 33, 45);
}

.color-darkturquoise {
	background-color: rgb(44, 132, 133);
}

.color-lightblue {
	background-color: rgb(68, 201, 246);
}

.single-line {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    width: 50px;
    margin-right: 3px;
    padding-left: 20px;
}
