<div class="container">
	<div class="row mt-3 mb-3">
		<div class="col" {{on "click" this.back}}>
			{{fa-icon "arrow-left"}}<span class="ml-2">Retour</span>
		</div>
	</div>

	<div class="row mb-3">
		<div class="col text-center">
			<h3>Machine #92</h3>
		</div>
	</div>

	<div class="row mb-2">
		<div class="col text-center">
     	 	<div class="card">
     	 	  <img src="assets/images/92.jpg" style="width: 100%; height: auto;">
			  <div class="card-body">
			    <p class="card-text">
			    	 Sur quelle case Harry doit-il poser son roi afin d’être sain et sauf?
			    </p>
			    <div class="input-group mb-3">
			      {{input type="text" class="form-control" placeholder="Réponse" id="answer" value=answer}}
				</div>
				<button class="btn btn-primary" type="button" {{on "click" this.verify}}>Vérifier</button>
			  </div>
			</div>
     	</div>
	</div>

	{{#if this.isMachineError}}
	<div class="row mb-3 mt-3">
		<div class="col text-center">
			<div class="alert alert-danger" role="alert">
			  Réponse invalide
			</div>
		</div>
	</div>
	{{/if}}

	{{#if this.isMachineSuccess}}
	<div class="row mb-3 mt-3">
		<div class="col text-center">
			<div class="alert alert-success" role="alert">
			  Bien joué! Retournez la carte 67.
			</div>
		</div>
	</div>
	{{/if}}
</div>