<div class="container">
    <h1>Bienvenue aux Unlocks de Max</h1>
    <h4>Choisir votre version:</h4>
    <div class="card" style="width: 18rem;" >
	  <img src="assets/images/harryPotterMain.jpg" class="card-img-top" alt="Harry Potter Unlock">
	  <div class="card-body">
	    <LinkTo @route="harry" class="btn btn-primary stretched-link">Go</LinkTo>
	  </div>
	</div>
</div>