<div class="container">
    <h1>Bienvenue aux Unlocks de Max</h1>
    <h4>Choisir votre version:</h4>
    <div class="card" style="width: 18rem;" >
	  <img src="assets/images/marioMain.jpg" class="card-img-top" alt="Mario Unlock">
	  <div class="card-body">
	    <button class="btn btn-primary stretched-link" {{action "setUnlock" "mario"}}>Go</button>
	  </div>
	</div>
</div>