<div class="container">
	<div class="row mt-3 mb-3">
		<div class="col">
			<LinkTo @route="index" class="btn btn-danger float-right mt-2 mr-2">X</LinkTo>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<ul class="list-group text-center">
			  <li class="list-group-item"><LinkTo @route="machines" class="text-dark"><span class="mr-2">Machine</span>{{fa-icon "cog"}}</LinkTo></li>
			  <li class="list-group-item"><LinkTo @route="codes" class="text-dark"><span class="mr-2">Code</span>{{fa-icon "lock"}}</LinkTo></li>
			  <li class="list-group-item"><LinkTo @route="hints" class="text-dark"><span class="mr-2">Indices</span>{{fa-icon "lightbulb"}}</LinkTo></li>
			</ul>
		</div>
	</div>
</div>
