<div class="container">
	<div class="row mt-3 mb-3">
		<div class="col" {{on "click" this.back}}>
			{{fa-icon "arrow-left"}}<span class="ml-2">Retour</span>
		</div>
	</div>

	<div class="row mb-3">
		<div class="col text-center">
			<h3>Machine #40</h3>
		</div>
	</div>

	<div class="row mb-2">
		<div class="col text-center">
		    <p>
			    	Cette boîte étrange est une machine à remonter dans le temps! Vous pourrez l'utiliser pour revenir graduellement dans le présent. Résolvez son puzzle afin de trouver où elle vous emmènera en premier.
			</p>
     	 	<div class="card" {{on "click" this.cardClicked}}>
     	 	  <img src="/Unlock/assets/images/40_nes.jpg" style="width: 100%; height: auto;">
     	 	  <img class="cases case11 d-none" src="/Unlock/assets/images/cases/01.jpg">
     	 	  <img class="cases case11 d-none" src="/Unlock/assets/images/cases/02.jpg">
     	 	  <img class="cases case12 d-none" src="/Unlock/assets/images/cases/03.jpg">
     	 	  <img class="cases case12 d-none" src="/Unlock/assets/images/cases/04.jpg">
     	 	  <img class="cases case13 d-none" src="/Unlock/assets/images/cases/05.jpg">
     	 	  <img class="cases case13 d-none" src="/Unlock/assets/images/cases/06.jpg">
     	 	  <img class="cases case14 d-none" src="/Unlock/assets/images/cases/07.jpg">
     	 	  <img class="cases case14 d-none" src="/Unlock/assets/images/cases/08.jpg">
     	 	  <img class="cases case15 d-none" src="/Unlock/assets/images/cases/09.jpg">
     	 	  <img class="cases case15 d-none" src="/Unlock/assets/images/cases/10.jpg">
     	 	  <img class="cases case21 d-none" src="/Unlock/assets/images/cases/11.jpg">
     	 	  <img class="cases case21 d-none" src="/Unlock/assets/images/cases/12.jpg">
     	 	  <img class="cases case22 d-none" src="/Unlock/assets/images/cases/13.jpg">
     	 	  <img class="cases case22 d-none" src="/Unlock/assets/images/cases/14.jpg">
     	 	  <img class="cases case23 d-none" src="/Unlock/assets/images/cases/15.jpg">
     	 	  <img class="cases case23 d-none" src="/Unlock/assets/images/cases/16.jpg">
     	 	  <img class="cases case24 d-none" src="/Unlock/assets/images/cases/17.jpg">
     	 	  <img class="cases case24 d-none" src="/Unlock/assets/images/cases/18.jpg">
     	 	  <img class="cases case25 d-none" src="/Unlock/assets/images/cases/19.jpg">
     	 	  <img class="cases case25 d-none" src="/Unlock/assets/images/cases/20.jpg">
     	 	  <img class="cases case31 d-none" src="/Unlock/assets/images/cases/21.jpg">
     	 	  <img class="cases case31 d-none" src="/Unlock/assets/images/cases/22.jpg">
     	 	  <img class="cases case32 d-none" src="/Unlock/assets/images/cases/23.jpg">
     	 	  <img class="cases case32 d-none" src="/Unlock/assets/images/cases/24.jpg">
     	 	  <img class="cases case33 d-none" src="/Unlock/assets/images/cases/25.jpg">
     	 	  <img class="cases case33 d-none" src="/Unlock/assets/images/cases/26.jpg">
     	 	  <img class="cases case34 d-none" src="/Unlock/assets/images/cases/27.jpg">
     	 	  <img class="cases case34 d-none" src="/Unlock/assets/images/cases/28.jpg">
     	 	  <img class="cases case35 d-none" src="/Unlock/assets/images/cases/29.jpg">
     	 	  <img class="cases case35 d-none" src="/Unlock/assets/images/cases/30.jpg">
     	 	  <img class="cases case41 d-none" src="/Unlock/assets/images/cases/31.jpg">
     	 	  <img class="cases case41 d-none" src="/Unlock/assets/images/cases/32.jpg">
     	 	  <img class="cases case42 d-none" src="/Unlock/assets/images/cases/33.jpg">
     	 	  <img class="cases case42 d-none" src="/Unlock/assets/images/cases/34.jpg">
     	 	  <img class="cases case43 d-none" src="/Unlock/assets/images/cases/35.jpg">
     	 	  <img class="cases case43 d-none" src="/Unlock/assets/images/cases/36.jpg">
     	 	  <img class="cases case44 d-none" src="/Unlock/assets/images/cases/37.jpg">
     	 	  <img class="cases case44 d-none" src="/Unlock/assets/images/cases/38.jpg">
     	 	  <img class="cases case45 d-none" src="/Unlock/assets/images/cases/39.jpg">
     	 	  <img class="cases case45 d-none" src="/Unlock/assets/images/cases/40.jpg">
			</div>
		</div>
	</div>
</div>